script(type="text/javascript", src="/lib/jquery.min.js")
script(type="text/javascript", src="/lib/bootstrap.min.js")
script(type="text/javascript", src="/lib/toastr.js")
script(type="text/javascript", src="/lib/angular.min.js")
script(type="text/javascript", src="/lib/angular-resource.min.js")
script(type="text/javascript", src="/lib/angular-route.min.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/common/mvNotifier.js")
script(type="text/javascript", src="/app/common/mvIdentity.js")
script(type="text/javascript", src="/app/main/mvMainCtrl.js")
script(type="text/javascript", src="/app/account/mvAuth.js")
script(type="text/javascript", src="/app/account/mvNavbarLoginCtrl.js")